<div style="display:block;text-align:center;" id="follow-icons">
	<a href="https://github.com/huntersnk" target="_blank"><i class="fa fa-github fa-2x"></i></a>
	<a href="https://cn.linkedin.com/in/huntersnk" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
	<a href="https://instagram.com/huntersnk/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
	<a href="mailto:freeone1991@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
	<a href="{{@blog.url}}/rss" target="_blank"><i class="fa fa-rss fa-2x"></i></a> 
</div>