<a class="btn btn-light" href="{{page_url prev}}">上一页</a> <span class="separator">|</span>
<span class="pg-num"> {{page}} / {{pages}}</span>
{{#if next}} <span class="separator">|</span> <a class="btn btn-light" href="{{page_url next}}">下一页</a>{{/if}}