
/*Basic*/
body {
/*	margin-top: 20px;*/
}
html, body {
/*	font-size: 1.2em;*/
/*	line-height: 1.65em;*/
	/*font-family: "Open Sans", sans-serif;*/
	font-family: PingFang SC, Helvetica,  Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	/*font-weight: 300;*/
	color:#444;
}



/*Navbar*/
/*.bar-title {
	font-weight: 700
}*/

.container {
	max-width: 900px;
}



/*Post area*/

.blog-post {
	max-width: 900px;
	margin-top: 5em;
	margin-left: 25em;
}

/*Outline.*/

.outline-area {
	width: 22em;
	height:100%;
	border-right: 1px #eee solid;
	position: fixed;
	top: 6em;

}

.outline-item > ul{
	padding-left: 5em;
}

.outline-item a {
	/*font-weight:700;*/
	/*text-decoration:none;*/
	/*color: #5cc265;  Change Link Color */
	color: #2fb5dd;
}
.outline-item a:hover {
	text-decoration:underline;
}

.outline-item ul ul {
    list-style:disc;
    //list-style-image: url(bullet.gif);
    margin-left:0;
    padding-left: 1em;
}

.outline-item ul li ul li{
	list-style: none;
}

.widget-title {
	padding-left: 3.3em;
	/*text-align: center;*/
}



/*Blog-Post*/

.blog-post {
/*	margin-left: 12em;
	padding: 2em 5em 2em 3em;*/
}

.post-stamp {
	margin-bottom: 1em;
}

/*.blog-post h2,h3,h4 {
	padding-top: 200px;
	margin-top: -190px;
	top: 190px;
	position: relative;
	word-break: break-all;
}*/

.blog-post h2 {
    padding-top: 80px;
    margin-top: -60px;
}

.blog-post h3 {
	padding-top: 80px;
  margin-top: -70px;
}

/*.blog-post h2 {
    position: relative;
    top: -440px;
    display: block;
    height: 200px;
    margin-top: 200px;
    overflow: hidden;
    float: left;
}*/

/*h2.anchor { position: relative; top: -300px; visibility: hidden; }
h2.anchor:before {
  content:"";
  float: left;
  height: 0px;
}
*/

/*-------------------------------*/
/*Main Content Markdown Ouput*/

article {
	font-size: 1.2em;
/*	line-height: 1.65em;*/
	border-bottom: 0.1em #eee solid;
	padding-bottom: 1.7em;
	padding-right: 1.7em;
	/*max-width: 40em;*/
}

.blog-post p, hr, h4, h5, h6 {
/*	margin-top: 0.9em;
	margin-bottom: 0.9em;*/
}

mark {
    background-color: rgba(47, 181, 221, 0.23);
    color: black;
}

/* Headings */
/*.blog-post h2,h3,h4,h5 {
	display: block;
  height: 115px; same height as header
  margin-top: -115px; /*same height as header*/
  /*visibility: hidden;*/
/*}*/


/*.blog-post h1, h2, h3, h4, h5, h6 {
	font-family: "Bree Serif", serif;
	font-weight: 400 !important;
}*/
.blog-post h1 {
	font-size: 2em;
	font-weight: 700;
/*	line-height: 1.1em;*/
/*	margin-top: 0.6em;*/
/*	margin-bottom: 1em;*/
}
.blog-post h2 {
	font-size: 1.6em;
	font-weight: 700;
/*	margin-top: 1em;
	margin-bottom: 1em;*/
/*	line-height: 1.2em;*/
/*	margin-top: 0.7em;*/
/*	margin-bottom: 0.7em;*/
}

.blog-post h3 {
	font-size: 1.3em;
	font-weight: 700;
	padding-left: 1em;
/*	line-height: 1.3em;*/
/*	margin-top: 0.8em;*/
/*	margin-bottom: 0.8em;*/
}

.blog-post h4 {
	font-size:1.3em;
}

.blog-post h5 {
	font-size:1.2em;
}

.blog-post h6 {
	font-size:1.1em;
}

/* Page Elements */
.blog-post img, iframe {
	max-width: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	box-shadow:3px 3px 12px gray;
	padding: 3px;
}

.blog-post a {
	/*font-weight:700;*/
	/*text-decoration:none;*/
	/*color: #5cc265;  Change Link Color */
	color: #2fb5dd;
}
.blog-post a:hover {
	text-decoration:underline;
}
.blog-post h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	/*font-weight:300 !important;*/
}


.blog-post blockquote {
	border-left: 0.5em solid #2fb5dd;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.2em;
	font-size: 1em;
	background-color: #ebeef2;
}
.blog-post hr{
 	border: 0;
	height: 1px;
	background: #eee;
}
.blog-post ul, ol {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 2em;
}
.blog-post code {
	font-size: 0.7em;
	background: #eee;
}
.blog-post pre {
	font-size: 1em;
	line-height: 1em;
	background: #eee;
	padding: 1em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	white-space: pre\9;
}
.blog-post input {
	font-size:1em;
	padding: 0.3em;
}



/*-----------------------*/

/*Comment area*/

.comments {
	margin-top: 7em;
}



/*Page page post*/

.page {
	margin-top: 4em;
	margin-bottom: 4em;
}


/*Post-list*/

.post-list {
/*	max-width: 50em;*/
	min-width: 20em;
	padding-top: 4em;
}

.post-list a {
	color: #2fb5dd;
}

.post-title {
	display: block;
}

.post-item {
	font-size: 1.5em;
	padding-top: 0.4em;
	padding-bottom: 0.5em;
}

.pagi {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}


.pg-num {
	font-size: 1.2em;
}

/*Search function*/

.results-hide{
    display: none;
}



/*Tag page*/
.tag-name {
	text-align: center;
	margin-top: 3em;
}



/*Footer area*/

.footer {
/*  position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  font-size: 1.2em;
}




/*Responsive design*/
/*@media (max-width: 576px) {
.post-item {
	font-size: 1em;
}
}*/

@media only screen and (max-width: 767.98px) {

.outline-area {
	position: relative;
	width: auto;
	height: auto;
	border-right: none;
	border-bottom: 1px #eee solid;
	text-align: center;
	top: 4em;
}

article {
	font-size: 1em;
/*	line-height: 1.65em;*/
	border-bottom: 0.1em #eee solid;
	padding-bottom: 1.7em;
	padding-left: 1.7em;
/*	padding-right: 1.7em;*/
/*	max-width: 40em;*/
}
.blog-post {
	margin-left: auto;
	margin-right: auto;
	max-width: none;
}

.outline-item ul li {
	list-style: none;
}
.outline-item > ul{
	padding-left: 0;
}
.widget-title {
	padding-left: 0;
	text-align: center;
}
.post-item {
	font-size: 1em;
}



}


@media (min-width: 768px) and (max-width: 991.98px) {

article {
	font-size: 1em;
/*	line-height: 1.65em;*/
	border-bottom: 0.1em #eee solid;
	padding-bottom: 1.7em;
/*	padding-right: 1.7em;*/
/*	max-width: 40em;*/
}
.blog-post {
	margin-left: 18em;
}
.outline-area {
	width: 16em;
}
.outline-item > ul{
	padding-left: 1em;
}




}


@media (min-width: 992px) and (max-width: 1199.98px) {

/*article {
	padding-right: 1.7em;
}*/

.blog-post {
	margin-left: 18em;
}
.outline-area {
	width: 16em;
}
.outline-item > ul{
	padding-left: 1em;
}

}


